<nav class="navbar  navbar-dark bg-dark navbar-expand-md sticky-top">
    <div class="container">
      <a href="#home-section" class="navbar-brand">LoopLab</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home-section">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#explore-main-section">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#create-main-section">Create</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#share-main-section">Share</a>
            
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  

  <!--home-section-->



<section id="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 d-none d-sm-block">
            <h1 class="display-4">Build <strong>social profiles</strong> and gain revenue
              and <strong>profit</strong></h1>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start mt-2">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                <p class="lead">Cont It  literaturit over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of </p>
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start mt-2">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                <p class="lead">Cont It  literaturit over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of </p>
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start mt-2">
                <i class="fa fa-check"></i>
              </div>
              <div class="p-4 align-self-end">
                <p class="lead">Cont It  literaturit over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of </p>
              </div>
            </div>
          </div>  
          <div class="col-lg-4 col-md-12">
            <div class="card bg-primary text-center">
              <div class="card-body">
                <h3>Sign Up Today</h3>
                <p>please fill out this form to register</p>
                <form>
                  <div class="form-group">
                    <input type="text" placeholder="Username" name="username" class="form-control form-control-lg">
                  </div>
                  <div class="form-group">
                    <input type="email" placeholder="Email" name="email" class="form-control form-control-lg">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" name="pass1" class="form-control form-control-lg">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Confirm password" name="pass2" class="form-control form-control-lg">
                  </div>
                  <input type="submit" class="btn btn-outline-light btn-block" value="submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--explore-section-->

<section id="explore-head-section" class="text-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="display-4">Explore</h2>
        <p class="lead">The car is beautifull its look like a 
          bmw banglases is a not rich countr
          y thats why most of the people can not use</p>
          <a href="#" class="btn btn-outline-light">Find out more</a>
      </div>
    </div>
  </div>
</section>


<!--explore main section-->

<section id="explore-main-section" class="bg-light py-5 text-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 my-2">
        <img src="assets/img/nav3.jpeg" class="img-fluid rounded" alt="nav3">
      </div>
      <div class="col-lg-6 col-md-12">
        <h3>Explore learn & connect</h3>
        <p class="lead">t is a long established fact that a
           reader will be distracted by the readable
            content of a page when looking at its lay
            out. The point of using Lorem Ipsum is that it has a more-or-less normal 
            distribution of letters, as opposed to using
         </p>
         <div class="d-flex flex-row">
            <div class="p-4 align-self-start mt-2">
              <i class="fa fa-check"></i>
            </div>
            <div>
              <p class="lead p-4 align-self-end">bangladesh is a beautifull country 
                but it has huge population</p>
            </div>
         </div>
         <div class="d-flex flex-row">
            <div class="p-4 align-self-start  mt-2">
              <i class="fa fa-check"></i>
            </div>
            <div>
              <p class="lead p-4 align-self-end">bangladesh is a beautifull country 
                but it has huge population</p>
            </div>
         </div>          
      </div>
    </div>
  </div>
</section>

<!--create-section-->


<section id="create-head-section" class="py-5 bg-primary text-center">
  <div class="container">
    <h2 class="display-4">Create</h2>
    <p class="lead">t is a long established fact that a
      reader will be distracted by the readable
       content of a page when looking at its lay
       out. The point of using Lorem Ipsum is that it has a more-or-less normal 
       distribution of letters, as opposed to using</p>
       <a href="#" class="btn btn-outline-light">Find out more</a>
  </div>
</section>

<!--create-main-section-->


<section id="create-main-section" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h3>Create your passion</h3>
        <p class="lead">never tail a lie. its not good for man
          but dont care this rule its majore probeln </p>
          <div class="d-flex flex-row">
            <div class="align-self-start p-4 mt-2">
              <i class="fa fa-check"></i>
            </div>
            <div class="align-self-end p-4 mt-2">
              <p>life is note bed of rose its have to 
                make beautifull but someone can it someon
                e can not it</p>
            </div>
          </div>
          <div class="d-flex flex-row">
              <div class="align-self-start p-4 mt-2">
                <i class="fa fa-check"></i>
              </div>
              <div class="align-self-end p-4 mt-2">
                <p>life is note bed of rose its have to 
                  make beautifull but someone can it someon
                  e can not it</p>
              </div>
            </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <img src="assets/img/sun.jpeg" class="img-fluid rounded" alt="create your passion">
      </div>
    </div>
  </div>
</section>

<!--share head section-->



<section id="share-head-section" class="py-5 bg-primary text-center">
    <div class="container">
      <h2 class="display-4">Share</h2>
      <p class="lead">t is a long established fact that a
        reader will be distracted by the readable
         content of a page when looking at its lay
         out. The point of using Lorem Ipsum is that it has a more-or-less normal 
         distribution of letters, as opposed to using</p>
         <a href="#" class="btn btn-outline-light">Find out more</a>
    </div>
  </section>

  <!--share-main-section-->


  <section id="share-main-section" class="bg-light py-5 text-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
              <img src="assets/img/rose1.jpeg" class="img-fluid rounded" alt="create your passion">
          </div>
          <div class="col-lg-6 col-md-12">
            <h3>Share</h3>
            <p class="lead">never tail a lie. its not good for man
              but dont care this rule its majore probeln </p>
              <div class="d-flex flex-row">
                <div class="align-self-start p-4 mt-2">
                  <i class="fa fa-check"></i>
                </div>
                <div class="align-self-end p-4 mt-2">
                  <p>life is note bed of rose its have to 
                    make beautifull but someone can it someon
                    e can not it</p>
                </div>
              </div>
              <div class="d-flex flex-row">
                  <div class="align-self-start p-4 mt-2">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="align-self-end p-4 mt-2">
                    <p>life is note bed of rose its have to 
                      make beautifull but someone can it someon
                      e can not it</p>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>


    <!--footer section-->


    <footer id="footer-section" class="text-center text-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>LoopLab</h2>
            <p>Copyright &copy; 2019</p>
            <span>Designed by: <a class="ml-2 text-warning" href="http://www.fb.com/md.helal" target="_blank"> Helal khan</a></span>
            <br><br>
            <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact us</button>
          </div>
        </div>
      </div>
    </footer>

    <!--contact us model-->

    <div class="modal" id="contactModal">
      <div class="container">
        <div class="model-dialog">
          <div class="model-content bg-dark">
            <div class="modal-header">
              <h3>Contact us</h3>
              <button class="close text-light" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form action="https://formspree.io/helalcse17@gmail.com" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" name="Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="Email" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="message">Message</label>
                      <textarea name="Message" id="message" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  
  <router-outlet></router-outlet>